// Minimal reset
@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: $page-min-width;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: $line-height-body;
  color: $color-text;
  background-color: $color-page;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}
